body{ 
background-image : url(http://m2.img.srcdd.com/farm5/d/2012/0812/21/E5B0452A46FADAF5CEC680D5BC5C2C30_B800_2400_800_600.JPEG);
-moz-background-size:100% 100%;
-webkit-background-size:100% 100%;
-o-background-size:100% 100%;
background-size:100% 100%;
}